<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>¿Cómo llama Gale a Katniss?</string>
		<string>Catnip</string>
		<string>Kat</string>
		<string>Katniss</string>
		<string>Catnip</string>
	</array>
	<array>
		<string>Cómo se llama el entrevistador de Los Juegos?</string>
		<string>Caesar Flickerman</string>
		<string>Seneca Crane</string>
		<string>Plutarch Heavensbee</string>
		<string>Caesar Flickerman</string>
	</array>
	<array>
		<string>¿Quién es Rue?</string>
		<string>Una conocida de la Veta</string>
		<string>La tributo del distrito 11</string>
		<string>La tributo del distrito 2</string>
		<string>La tributo del distrito 11</string>
	</array>
	<array>
		<string>¿Cómo se gana el publico Peeta?</string>
		<string>Haciendo chistes sobre su colonia</string>
		<string>Confesando su amor</string>
		<string>Siendo encantador</string>
		<string>Confesando su amor</string>
	</array>
	<array>
		<string>¿Qué quiere Peeta en la arena?</string>
		<string>Seguir siendo él mismo</string>
		<string>Ganar</string>
		<string>No matar a nadie</string>
		<string>Seguir siendo él mismo</string>
	</array>
	<array>
		<string>¿Qué hace Katniss tras la declaración de Peeta?</string>
		<string>No hace nada pero se enfada</string>
		<string>Lo empuja</string>
		<string>Dice estar también enamorada</string>
		<string>Lo empuja</string>
	</array>
	<array>
		<string>¿Qué es lo que Katniss más necesita en la arena?</string>
		<string>Comida</string>
		<string>Un carcaj con flechas</string>
		<string>Un cuchillo</string>
		<string>Un carcaj con flechas</string>
	</array>
	<array>
		<string>¿Cómo mata Katniss a Glimmer?</string>
		<string>Le envenena con una baya</string>
		<string>Le dispara una flecha</string>
		<string>Con un nido de rastrevíspulas</string>
		<string>Con un nido de rastrevíspulas</string>
	</array>
	<array>
		<string>¿Cómo se llama el autor de Los Juegos del Hambre?</string>
		<string>Suzanne Collins</string>
		<string>J. K. Rowling</string>
		<string>Stephenie Meyer</string>
		<string>Suzanne Collins</string>
	</array>
	<array>
		<string>¿Cómo se llama la zona del Distrito en la que vive Katniss?</string>
		<string>El Quemador</string>
		<string>La Veta</string>
		<string>La Pradera</string>
		<string>La Veta</string>
	</array>
	<array>
		<string>¿Que nombres salen en las urnas del Día de la Cosecha?</string>
		<string>Katniss Everdeen y Peeta Mellark</string>
		<string>Primrose Everdeen y Peeta Mellark</string>
		<string>Katniss Everdeen y Gale Hawthorne</string>
		<string>Primrose Everdeen y Peeta Mellark</string>
	</array>
	<array>
		<string>¿Quién será el mentor de los dos tributos?</string>
		<string>Effie Trinket</string>
		<string>Seneca Crane</string>
		<string>Haymitch Habernathi</string>
		<string>Haymitch Habernathi</string>
	</array>
	<array>
		<string>¿Cual es el principal consejo que le da Haymitch a Katniss?</string>
		<string>Que no te cojan</string>
		<string>Parece encantadora</string>
		<string>Sigue viva</string>
		<string>Sigue viva</string>
	</array>
	<array>
		<string>¿Cómo se llaman los estilistas de Katniss y Peeta?</string>
		<string>Flavius y Octavia</string>
		<string>Cinna y Portia</string>
		<string>Cinna y Venia</string>
		<string>Cinna y Portia</string>
	</array>
	<array>
		<string>¿Qué es un avox?</string>
		<string>Un rebelde armado</string>
		<string>Un castigo para los rebeldes</string>
		<string>Alguien al que le han cortado la lengua</string>
		<string>Alguien al que le han cortado la lengua</string>
	</array>
	<array>
		<string>¿Que hace Peeta en las sesiones de entrenamiento con los Vigilantes?</string>
		<string>Lanzar pesas</string>
		<string>Camuflarse</string>
		<string>Hacer nudos</string>
		<string>Camuflarse</string>
	</array>
	<array>
		<string>¿Cómo se llama la primera parte de Los Juegos del Hambre?</string>
		<string>Los tributos</string>
		<string>Los Juegos</string>
		<string>La cosecha</string>
		<string>Los tributos</string>
	</array>
	<array>
		<string>¿Cómo se llama el gato de Prim?</string>
		<string>Buttercup</string>
		<string>Buttercut</string>
		<string>Buttercat</string>
		<string>Buttercup</string>
	</array>
	<array>
		<string>¿Qué hay en el centro de la arena?</string>
		<string>Una cornucopia</string>
		<string>Un lago</string>
		<string>Un bosque</string>
		<string>Una cornucopia</string>
	</array>
	<array>
		<string>¿Qué es lo primero que hace Peeta en la arena?</string>
		<string>Unirse a los profesionales</string>
		<string>Ir por su cuenta</string>
		<string>Unirse a Katniss</string>
		<string>Unirse a los profesionales</string>
	</array>
</array>
</plist>
